<h2>Modals Parent Route</h2>
<p>This is the modals route which is common to all modals</p>

{{#link-to "modals.layout"}}Layout{{/link-to}}
{{#link-to "modals.visuals"}}Visuals{{/link-to}}
{{#link-to "modals.finish"}}Finish{{/link-to}}
{{#link-to "modals.preview"}}Preview{{/link-to}}

{{outlet}}
